
#masterDiv{
    width: 700px;
    height: 500px;
    margin: auto;
    margin-top: 8%;
}
h1{
    color: rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    font-family: "Courier New", Helvetica, serif;
}
h2{
    color: white;
    font-family: "Courier New", Helvetica, serif;
    font-size: 2rem;
    font-weight: bold;
}
h3{
    margin: 0;
    padding: 0;
    color: white;
    font-size: 2rem;
    font-family: "Courier New", Helvetica, serif;
    font-size: 20px;
    font-style: italic;
}
h4{
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    font-family: "Courier New", Helvetica, serif;
    text-align: center;
}
p{
    margin: 10px 0, 0;
    color: white;
    font-size: 1rem;
    font-family: "Courier New", Helvetica, serif;
    padding: 0;
}

#firstDiv{
    width: 350px;
    height: 500px;
    background-color: #f8f9fa;
    float: left;
}
#secondDiv{
    width: 350px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.8;
    filter: alpha(opacity=80);
    float: left;
    text-align: center;
}
ul{
    margin: 0;
    padding: 0;
}

#secondDiv li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}

#secondDiv li a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    transition: all ease-in-out 250ms;
}
#secondDiv li a:hover{
    color: #b9b9b9;
}

#eduDiv{
    width: 100%;
    height: 95px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 30px;
    margin-right: auto;
    margin-left: auto;
    background-color: #f8f9fa;
    text-align: center;  
    margin-top: 8%;
}

#eduStuff{
    margin-top: 0px !important;
    width: 100%;
    height: 450px;
    padding-top: 50px;
    padding-right: 15px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.8;
    filter: alpha(opacity=80);
    text-align: left;
}

.timeline{
    position: relative;
    margin-top: 0px !important;
    margin: 50px auto;
    padding: 40px 0;
    width: 1000px;
    box-sizing: border-box;
}

.timeline:before{
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: white;

}
.timeline ul{
    margin: 0;
    padding: 0;

}

.timeline ul li{
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}
.timeline ul li:nth-child(odd){
    float: left;
    text-align: right;
    clear: both;
}
.timeline ul li:nth-child(even){
    float: right;
    text-align: left;
    clear: both;
}
.content{
    padding-bottom: 20px;
}

/* for point on timeline */
.timeline ul li:nth-child(odd):before
{
    content: '';
    position: absolute;
    top: 24px;
    right: -8.5px;
    width: 15px;
    height: 15px;
    background: rgba(255,255,255,1);
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255,255,255,0.2);
}
/* for point on timeline */
.timeline ul li:nth-child(even):before
{
    content: '';
    position: absolute;
    top: 24px;
    left: -6.5px;
    width: 15px;
    height: 15px;
    background: rgba(255,255,255,1);
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255,255,255,0.2);
}
.timeline ul li:nth-child(odd) .time
{
    position: absolute;
    top: 16px;
    bottom: 230px;
    right: -380px;
    margin: 0;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background: rgba(255,255,255,1);
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 4px rgba(255,255,255,0.4);
}
.timeline ul li:nth-child(even) .time
{
    position: absolute;
    top: 19px;
    bottom: 340px;
    left: -420px;
    margin: 0;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background: rgba(255,255,255,1);
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 4px rgba(255,255,255,0.4);
}

#expDiv{
    margin-top: 0px !important;
    width: 100%;
    height: 95px;
    padding-right: 15px;
    padding-top: 30px;
    margin-top: 8%;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #f8f9fa;
    text-align: center;
}
#expStuff{
    margin-top: 0px !important;
    width: 100%;
    height: 1900px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.8;
    filter: alpha(opacity=80);
    text-align: left;
}

#proj_div{
    margin-top: 0px !important;
    width: 100%;
    height: 95px;
    padding-right: 15px;
    padding-top: 30px;
    margin-top: 8%;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #f8f9fa;
    text-align: center;
}

#skillsDiv{
    margin-top: 0px !important;
    width: 100%;
    height: 95px;
    padding-right: 15px;
    padding-top: 30px;
    margin-top: 8%;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #f8f9fa;
    text-align: center;
}
#ppStuff{
    margin-top: 0px !important;
    width: 100%;
    height: 500px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.8;
    filter: alpha(opacity=80);
    text-align: left;
}

#skillsStuff{
    margin-top: 0px !important;
    width: 100%;
    height: 500px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.8;
    filter: alpha(opacity=80);
    text-align: left;
}
#skillsStuff ul{
    margin: 0;
    padding-top: 100px;
    padding-left: 100px;
}